
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <section class="page-section clearfix">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/Content/images/intro.jpg" alt="...">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Taze Kahve</font></font></span>
                    <span class="section-heading-lower"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İçmeye değer</font></font></span>
                </h2>
                <p class="mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kaliteli zanaatkar kahvemizin her fincanı yerel kaynaklı, elle seçilmiş malzemelerle başlar. Bir kez denediğinizde, kahvemiz günlük sabah rutininize keyifli bir katkı olacak - garanti ediyoruz!</font></font></p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bugün Bizi Ziyaret Edin!</font></font></a></div>
            </div>
        </div>

    </section>
    <section class="page-section cta">
        
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sözümüz</font></font></span>
                            <span class="section-heading-lower"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sana</font></font></span>
                        </h2>
                        <p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gününüze başlamak için mağazamıza girdiğinizde, size güler yüzlü hizmet, sıcak bir atmosfer ve her şeyden önce en yüksek kaliteli malzemelerle yapılmış mükemmel ürünler sunmaya adadık kendimizi. Memnun kalmazsanız lütfen bize bildirin, her şeyi yoluna koymak için elimizden geleni yapalım!</font></font></p>
                    </div>
                </div>
            </div>
    
    </section>










            







    
