
@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="product-item">
        <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ms-auto rounded">
                <h2 class="section-heading mb-0">
                    <span class="section-heading-upper"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mükemmelliğe Ulaşmış</font></font></span>
                    <span class="section-heading-lower"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kahveler ve Çaylar</font></font></span>
                </h2>
            </div>
        </div>
        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/images/products-01.jpg" alt="...">
        <div class="product-item-description d-flex me-auto">
            <div class="bg-faded p-5 rounded"><p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İşimizle gurur duyuyoruz ve bu belli oluyor. Bizden her içecek sipariş ettiğinizde, bunun yaşamaya değer bir deneyim olacağını garanti ediyoruz. İster dünyaca ünlü Venezüella Cappuccino'muz, ister ferahlatıcı buzlu bitki çayı veya özel kaynaklı bir fincan siyah kahve olsun, daha fazlası için geri döneceksiniz.</font></font></p></div>
        </div>
    </div>
</div>
<section class="page-section">
   
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lezzetli Lezzetler, İyi Yemekler</font></font></span>
                        <span class="section-heading-lower"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fırın &amp; Mutfak</font></font></span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/images/products-02.jpg" alt="...">
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mevsimlik menümüzde lezzetli atıştırmalıklar, fırınlanmış ürünler ve hatta kahvaltı veya öğle yemeği için mükemmel olan tam öğünler yer alır. Malzemelerimizi mümkün olduğunca yerel, organik çiftliklerden ve özel ürünler için birinci sınıf satıcılardan temin ediyoruz.</font></font></p></div>
            </div>
        </div>
    
</section>
<section class="page-section">
   
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dünyanın her yerinden</font></font></span>
                        <span class="section-heading-lower"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Toplu Özel Karışımlar</font></font></span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/images/products-03.jpg" alt="...">
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En iyi kalitede kahve için dünyayı dolaşmak gurur duyulacak bir şeydir. Bizi ziyaret ettiğinizde, çoğunlukla Orta ve Güney Amerika bölgelerinden olmak üzere dünyanın dört bir yanından her zaman yeni karışımlar bulacaksınız. Karışımlarımızı küçükten büyüğe toplu miktarlarda satıyoruz. Daha fazla bilgi için lütfen bizi şahsen ziyaret edin.</font></font></p></div>
            </div>
        </div>

</section>

