
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ücretsiz Bir Bootstrap İş Teması</font></font></span>
        <span class="site-heading-lower"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İş Gündelik Kıyafeti</font></font></span>
    </h1>
</header>
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    
        <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bootstrap'ı Başlat</font></font></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Gezinmeyi aç/kapat"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ev</font></font></a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/Hakkimizda"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hakkında</font></font></a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/Ürünler"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ürünler</font></font></a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/Magaza"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mağaza</font></font></a></li>
            </ul>
        </div>
    
</nav>


